# User Testing Report

User testing was conducted by Kyounghee Lee on Oct.24.2013 between the times of 03:17:28pm and 00:00:00pm with the following participants:

- Winnie Lau
- Mariam Abdulwahab
- Lindsay Dupuis

## Tasks

1. Try each Navigations
2. Specifically, Playing in Dokdo F&A
3. Find the home page

---

## Individual Results & Observations

### Winnie Lau
- She clicked nav
- she played dokdo f&a her self
- she wonder about the hover box

####Her Comments
- why you dont make close buttom on orange bar
- when she click on the iamges, you sould probably go to the site for the information instead of goint to top of the page.
- you don't need hover for imgs
- make a obvious that is a home button.


### Jenny Chew
- she click every each navigation
- she clicked pictures(i think she wonder what is hover)
- she click to f&a 

####Her Comments
- all the buttons are work.
- f&a is cool
- should be able to close question bar by clicking the bar again
- she found homepage easily


### Lindsay Dupuis
- She clicked on the Home Logo link as expected
- she clicked my f&a section. and she also clicked Close button on the bottom.
- She had troubles with hover box
- She asked me about "Is Dokdo Island is same with Jeju Island?"

#### Her Comments
- Logo has to be bigger.
- Take off Hover Box for each images.
- She likes my F&A section.
- When she saw the image, "he looks so happy"
- Your bottom navigation works very well.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Home button has to looks like home button
- take off hober box
- make a close button on the question bar in F&Q section.


### Serious, Causes Frustration, May Hinder Completion

- They do not understand whu each image has hover, and why it goes on the top when they click.

### Minor, Annoying, Won’t Hinder Completion

- delete hover box