<!DOCTYPE html>
<html lang=en-ca>
<head>
	<meta charset=utf-8>
	<title>{{page.title}}</title>
	<link href="css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
    <meta name="description" content="{{page.meta}}">
</head>
<body id="top">
	<header class="masthead clearfix">
		<div class="masthead-top">
			<h1 class="logo-wrapper"><a href="index.html" class="logo">Galilean Moons</a></h1>
			<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
		</div>
		<nav class="nav nav-top" data-state="collapsed">
			<ul>
				<li><a href="about.html">About Dokdo</a></li>
				<li><a href="dokdofanda.html">Dokdo F&A </a></li>
				<li><a href="usefulinfo.html">Useful Info</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
    
    {{content}}
    
    	<footer class="site-footer">
		<nav id="nav" class="nav nav-bottom">
			<ul>
				<li><a href="about.html">About Dokdo</a></li>
				<li><a href="dokdofanda.html">Dokdo F&A </a></li>
				<li><a href="usefulinfo.html">Useful Info</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
			</ul>
		</nav>

		<p class="copyright">© 2013 Kyounghee Lee Design</p>
		<p class="source"><a href="http://en.wikipedia.org/wiki/Liancourt_Rocks">Source: Wikipedia</a></p>
		<p class="top-link"><a href="#top">Top</a></p>
	</footer>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/footer-toggle-hybrid.js"></script>
</body>
</html>
