<!DOCTYPE html>
<html lang=en-ca>
<head>


	<meta charset=utf-8>
	<title>{{page.title}}</title>
    
    <link href="css/normalize.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
    <script src="js/modernizr.js"></script>
    
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
    <meta name="description" content="{{page.meta}}">
    
    <meta property="og:type" content="article"> 
	<meta property="og:title" content="Dokdo Island">
	<meta property="og:url" content="http://leekh91kr.github.io/large-data-website">
	<!-- Image size: minimum 200x200; recommend 1500x1500 -->
	<meta property="og:image" content="http://leekh91kr.github.io/img/logo.svg"> 
	<meta property="og:description" content="This is website for save Dokdo Island from dispute exists regarding Dokdo">
	<meta property="og:site_name" content="Dokdo Island">

	<!-- Twiiter -->
	<meta property="twitter:card" content="summary"> 
	<meta property="twitter:title" content="Dokdo Island">
	<meta property="twitter:url" content="http://leekh91kr.github.io/large-data-website">
	<!-- Image size: minimum 120x120 -->
	<meta property="twitter:image" content="http://leekh91kr.github.io/img/logo.svg">
	<meta property="twitter:description" content="This is website for save Dokdo Island from dispute exists regarding Dokdo">
    
</head>

<body id="top">

<ul class="skiplinks">
	<li><a href="#main">Skip to primary content</a></li>
	<li><a href="#navigation">Skip to navigations</a></li>
</ul>

	<header role="banner" class="masthead clearfix">
		<div class="masthead-top">
			<h1 class="logo-wrapper"><a href="index.html" rel="home" class="logo">Dokdo Logo</a></h1>
			<a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
		</div>
		<nav role="navigation" id="navigation" class="nav nav-top" data-state="collapsed">
			<ul>
				<li><a href="about.html">About Dokdo</a></li>
				<li><a href="dokdofanda.html">Dokdo F&amp;A </a></li>
				<li><a href="usefulinfo.html">Useful Info</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
    
    <main role="main" id="main">
    {{content}}
    </main>
    
    	<footer role="contentinfo" class="site-footer">
		<nav id="nav" class="nav nav-bottom">
			<ul>
				<li><a href="about.html">About Dokdo</a></li>
				<li><a href="dokdofanda.html">Dokdo F&amp;A </a></li>
				<li><a href="usefulinfo.html">Useful Info</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
			</ul>
		</nav>

		<p class="copyright">© 2013 Kyounghee Lee Design</p>
		<p class="source"><a href="http://en.wikipedia.org/wiki/Liancourt_Rocks" rel="external">Source: Wikipedia</a></p>
		<p class="top-link"><a href="#top">Top</a></p>
	</footer>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/footer-toggle-hybrid.js"></script>
    
    if (!Modernizr.inlinesvg) {
  ;(function () {
    var imgs = document.getElementsByTagName('img')
      , totalImgs = imgs.length
      , i = 0
 
      for (i = 0; i < totalImgs; i++) {
        imgs[i].src = imgs[i].src.replace(/svg$/, 'png')
      }
  }())
}
    
</body>
</html>
